In [1]:
import requests
import pandas as pd
import house_finder2
import time
import googlemaps
import numpy as np
import pickle as pkl
API_KEY = "8f3681604dec4d8db976530952221ab3"
G_API_KEY = 'AIzaSyDaFd_79oAhW2uCOuHjYzaYPpIUll5jCfg'
BASE_URL = "https://api.rentcast.io/v1/listings/rental/long-term"
headers = {
    "X-Api-Key": API_KEY
}

In [2]:
def get_lat_lng(address, api_key):

    geocode_url = f"https://maps.googleapis.com/maps/api/geocode/json?address={address}&key={api_key}"
    response = requests.get(geocode_url)
    
    if response.status_code == 200:
        data = response.json()
        if data['status'] == 'OK':
            lat = data['results'][0]['geometry']['location']['lat']
            lng = data['results'][0]['geometry']['location']['lng']
            return lat, lng
        else:
            print("Error: No results found.")
            return None, None
    else:
        print(f"Error: {response.status_code}")
        return None, None

address = "3453 Busbee DR NW, GA"
latitude, longitude = get_lat_lng(address, G_API_KEY)

print(f"Latitude: {latitude}, Longitude: {longitude}")

Latitude: 34.0375209, Longitude: -84.5751523

In [3]:
def get_rental_listings(params):

    response = requests.get(BASE_URL, headers=headers, params=params)

    if response.status_code == 200:
        return response.json()
    else:
        print(f"Failed to retrieve data. Error: {response.status_code} - {response.text}")

In [4]:
params = {
    "latitude": latitude,
    "longitude": longitude,
    'radius': 2000,
    'limit': 20
}
listings = get_rental_listings(params)
print(listings)

[{'id': '171-Auburn-Ave-NE,-Unit-422,-Atlanta,-GA-30303', 'formattedAddress': '171 Auburn Ave NE, Unit 422, Atlanta, GA 30303', 'addressLine1': '171 Auburn Ave NE', 'addressLine2': 'Unit 422', 'city': 'Atlanta', 'state': 'GA', 'zipCode': '30303', 'county': 'Fulton', 'latitude': 33.755209, 'longitude': -84.381849, 'propertyType': 'Apartment', 'bedrooms': 1, 'bathrooms': 1, 'squareFootage': 876, 'status': 'Active', 'price': 1345, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'createdDate': '2023-06-17T00:00:00.000Z', 'lastSeenDate': '2025-01-03T04:43:36.209Z', 'daysOnMarket': 1, 'history': {'2024-12-15': {'event': 'Rental Listing', 'price': 1345, 'listingType': 'Standard', 'listedDate': '2024-12-15T00:00:00.000Z', 'removedDate': '2024-12-16T00:00:00.000Z', 'daysOnMarket': 1}, '2025-01-03': {'event': 'Rental Listing', 'price': 1345, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'daysOnMarket': 1}}}, {'id': '3005-Peachtree-Rd-NE,-Unit-1813,-Atlanta,-GA-30305', 'formattedAddress': '3005 Peachtree Rd NE, Unit 1813, Atlanta, GA 30305', 'addressLine1': '3005 Peachtree Rd NE', 'addressLine2': 'Unit 1813', 'city': 'Atlanta', 'state': 'GA', 'zipCode': '30305', 'county': 'Fulton', 'latitude': 33.836842, 'longitude': -84.381149, 'propertyType': 'Apartment', 'bedrooms': 1, 'bathrooms': 1, 'squareFootage': 695, 'status': 'Active', 'price': 2143, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'createdDate': '2023-07-28T00:00:00.000Z', 'lastSeenDate': '2025-01-03T04:43:36.209Z', 'daysOnMarket': 1, 'history': {'2024-10-05': {'event': 'Rental Listing', 'price': 2143, 'listingType': 'Standard', 'listedDate': '2024-10-05T00:00:00.000Z', 'removedDate': '2024-10-06T00:00:00.000Z', 'daysOnMarket': 1}, '2024-10-22': {'event': 'Rental Listing', 'price': 2143, 'listingType': 'Standard', 'listedDate': '2024-10-22T00:00:00.000Z', 'removedDate': '2024-10-23T00:00:00.000Z', 'daysOnMarket': 1}, '2024-10-28': {'event': 'Rental Listing', 'price': 2143, 'listingType': 'Standard', 'listedDate': '2024-10-28T00:00:00.000Z', 'removedDate': '2024-10-29T00:00:00.000Z', 'daysOnMarket': 1}, '2025-01-03': {'event': 'Rental Listing', 'price': 2143, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'daysOnMarket': 1}}}, {'id': '3005-Peachtree-Rd-NE,-Unit-1301,-Atlanta,-GA-30305', 'formattedAddress': '3005 Peachtree Rd NE, Unit 1301, Atlanta, GA 30305', 'addressLine1': '3005 Peachtree Rd NE', 'addressLine2': 'Unit 1301', 'city': 'Atlanta', 'state': 'GA', 'zipCode': '30305', 'county': 'Fulton', 'latitude': 33.836842, 'longitude': -84.381149, 'propertyType': 'Apartment', 'bedrooms': 1, 'bathrooms': 1, 'squareFootage': 711, 'status': 'Active', 'price': 2037, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'createdDate': '2024-07-30T00:00:00.000Z', 'lastSeenDate': '2025-01-03T04:43:36.208Z', 'daysOnMarket': 1, 'history': {'2024-10-10': {'event': 'Rental Listing', 'price': 2037, 'listingType': 'Standard', 'listedDate': '2024-10-10T00:00:00.000Z', 'removedDate': '2024-10-11T00:00:00.000Z', 'daysOnMarket': 1}, '2025-01-03': {'event': 'Rental Listing', 'price': 2037, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'daysOnMarket': 1}}}, {'id': '3005-Peachtree-Rd-NE,-Unit-2122,-Atlanta,-GA-30305', 'formattedAddress': '3005 Peachtree Rd NE, Unit 2122, Atlanta, GA 30305', 'addressLine1': '3005 Peachtree Rd NE', 'addressLine2': 'Unit 2122', 'city': 'Atlanta', 'state': 'GA', 'zipCode': '30305', 'county': 'Fulton', 'latitude': 33.836842, 'longitude': -84.381149, 'propertyType': 'Apartment', 'bedrooms': 2, 'bathrooms': 2, 'squareFootage': 1087, 'status': 'Active', 'price': 2961, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'createdDate': '2023-07-29T00:00:00.000Z', 'lastSeenDate': '2025-01-03T04:43:36.204Z', 'daysOnMarket': 1, 'history': {'2024-12-01': {'event': 'Rental Listing', 'price': 2961, 'listingType': 'Standard', 'listedDate': '2024-12-01T00:00:00.000Z', 'removedDate': '2024-12-02T00:00:00.000Z', 'daysOnMarket': 1}, '2025-01-03': {'event': 'Rental Listing', 'price': 2961, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'daysOnMarket': 1}}}, {'id': '3242-Peachtree-Rd-NE,-Unit-1709,-Atlanta,-GA-30305', 'formattedAddress': '3242 Peachtree Rd NE, Unit 1709, Atlanta, GA 30305', 'addressLine1': '3242 Peachtree Rd NE', 'addressLine2': 'Unit 1709', 'city': 'Atlanta', 'state': 'GA', 'zipCode': '30305', 'county': 'Fulton', 'latitude': 33.843845, 'longitude': -84.372772, 'propertyType': 'Apartment', 'bedrooms': 1, 'bathrooms': 1, 'squareFootage': 865, 'status': 'Active', 'price': 2374, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'createdDate': '2023-12-15T00:00:00.000Z', 'lastSeenDate': '2025-01-03T04:43:36.204Z', 'daysOnMarket': 1, 'history': {'2024-11-07': {'event': 'Rental Listing', 'price': 2374, 'listingType': 'Standard', 'listedDate': '2024-11-07T00:00:00.000Z', 'removedDate': '2024-11-08T00:00:00.000Z', 'daysOnMarket': 1}, '2024-11-15': {'event': 'Rental Listing', 'price': 2374, 'listingType': 'Standard', 'listedDate': '2024-11-15T00:00:00.000Z', 'removedDate': '2024-11-16T00:00:00.000Z', 'daysOnMarket': 1}, '2024-12-10': {'event': 'Rental Listing', 'price': 2374, 'listingType': 'Standard', 'listedDate': '2024-12-10T00:00:00.000Z', 'removedDate': '2024-12-11T00:00:00.000Z', 'daysOnMarket': 1}, '2024-12-25': {'event': 'Rental Listing', 'price': 2374, 'listingType': 'Standard', 'listedDate': '2024-12-25T00:00:00.000Z', 'removedDate': '2024-12-26T00:00:00.000Z', 'daysOnMarket': 1}, '2025-01-03': {'event': 'Rental Listing', 'price': 2374, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'daysOnMarket': 1}}}, {'id': '171-Auburn-Ave-NE,-Unit-409,-Atlanta,-GA-30303', 'formattedAddress': '171 Auburn Ave NE, Unit 409, Atlanta, GA 30303', 'addressLine1': '171 Auburn Ave NE', 'addressLine2': 'Unit 409', 'city': 'Atlanta', 'state': 'GA', 'zipCode': '30303', 'county': 'Fulton', 'latitude': 33.755209, 'longitude': -84.381849, 'propertyType': 'Apartment', 'bedrooms': 1, 'bathrooms': 1, 'squareFootage': 932, 'status': 'Active', 'price': 1595, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'createdDate': '2023-06-03T00:00:00.000Z', 'lastSeenDate': '2025-01-03T04:43:36.203Z', 'daysOnMarket': 1, 'history': {'2024-11-19': {'event': 'Rental Listing', 'price': 1620, 'listingType': 'Standard', 'listedDate': '2024-11-19T00:00:00.000Z', 'removedDate': '2024-11-20T00:00:00.000Z', 'daysOnMarket': 1}, '2024-12-11': {'event': 'Rental Listing', 'price': 1620, 'listingType': 'Standard', 'listedDate': '2024-12-11T00:00:00.000Z', 'removedDate': '2024-12-12T00:00:00.000Z', 'daysOnMarket': 1}, '2025-01-03': {'event': 'Rental Listing', 'price': 1595, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'daysOnMarket': 1}}}, {'id': '2900-Pharr-Ct,-South-NW-Apt-3104,-Atlanta,-GA-30305', 'formattedAddress': '2900 Pharr Ct, South NW Apt 3104, Atlanta, GA 30305', 'addressLine1': '2900 Pharr Ct', 'addressLine2': 'South NW Apt 3104', 'city': 'Atlanta', 'state': 'GA', 'zipCode': '30305', 'county': 'Fulton', 'latitude': 33.834778, 'longitude': -84.386818, 'propertyType': 'Apartment', 'bedrooms': 2, 'bathrooms': 1, 'squareFootage': 1147, 'status': 'Active', 'price': 1882, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'createdDate': '2024-08-02T00:00:00.000Z', 'lastSeenDate': '2025-01-03T04:43:36.202Z', 'daysOnMarket': 1, 'history': {'2024-11-13': {'event': 'Rental Listing', 'price': 2399, 'listingType': 'Standard', 'listedDate': '2024-11-13T00:00:00.000Z', 'removedDate': '2024-11-14T00:00:00.000Z', 'daysOnMarket': 1}, '2024-12-10': {'event': 'Rental Listing', 'price': 1757, 'listingType': 'Standard', 'listedDate': '2024-12-10T00:00:00.000Z', 'removedDate': '2024-12-11T00:00:00.000Z', 'daysOnMarket': 1}, '2025-01-03': {'event': 'Rental Listing', 'price': 1882, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'daysOnMarket': 1}}}, {'id': '1050-Lenox-Park-Blvd-NE,-Apt-9305,-Atlanta,-GA-30319', 'formattedAddress': '1050 Lenox Park Blvd NE, Apt 9305, Atlanta, GA 30319', 'addressLine1': '1050 Lenox Park Blvd NE', 'addressLine2': 'Apt 9305', 'city': 'Atlanta', 'state': 'GA', 'zipCode': '30319', 'county': 'Fulton', 'latitude': 33.851849, 'longitude': -84.348976, 'propertyType': 'Apartment', 'bedrooms': 1, 'bathrooms': 1, 'squareFootage': 861, 'status': 'Active', 'price': 1606, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'createdDate': '2024-09-15T00:00:00.000Z', 'lastSeenDate': '2025-01-03T04:43:36.202Z', 'daysOnMarket': 1, 'history': {'2024-10-20': {'event': 'Rental Listing', 'price': 1630, 'listingType': 'Standard', 'listedDate': '2024-10-20T00:00:00.000Z', 'removedDate': '2024-10-21T00:00:00.000Z', 'daysOnMarket': 1}, '2025-01-03': {'event': 'Rental Listing', 'price': 1606, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'daysOnMarket': 1}}}, {'id': '2845-Holcomb-Bridge-Rd,---2301,-Alpharetta,-GA-30022', 'formattedAddress': '2845 Holcomb Bridge Rd, # 2301, Alpharetta, GA 30022', 'addressLine1': '2845 Holcomb Bridge Rd', 'addressLine2': '# 2301', 'city': 'Alpharetta', 'state': 'GA', 'zipCode': '30022', 'county': 'Fulton', 'latitude': 33.992561, 'longitude': -84.277695, 'propertyType': 'Apartment', 'bedrooms': 2, 'bathrooms': 2, 'squareFootage': 1355, 'status': 'Active', 'price': 1770, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'createdDate': '2024-07-28T00:00:00.000Z', 'lastSeenDate': '2025-01-03T04:43:36.201Z', 'daysOnMarket': 1, 'history': {'2024-09-29': {'event': 'Rental Listing', 'price': 1834, 'listingType': 'Standard', 'listedDate': '2024-09-29T00:00:00.000Z', 'removedDate': '2024-09-30T00:00:00.000Z', 'daysOnMarket': 1}, '2024-10-27': {'event': 'Rental Listing', 'price': 1735, 'listingType': 'Standard', 'listedDate': '2024-10-27T00:00:00.000Z', 'removedDate': '2024-10-28T00:00:00.000Z', 'daysOnMarket': 1}, '2024-11-12': {'event': 'Rental Listing', 'price': 1717, 'listingType': 'Standard', 'listedDate': '2024-11-12T00:00:00.000Z', 'removedDate': '2024-11-13T00:00:00.000Z', 'daysOnMarket': 1}, '2024-11-19': {'event': 'Rental Listing', 'price': 1798, 'listingType': 'Standard', 'listedDate': '2024-11-19T00:00:00.000Z', 'removedDate': '2024-11-20T00:00:00.000Z', 'daysOnMarket': 1}, '2024-11-24': {'event': 'Rental Listing', 'price': 1798, 'listingType': 'Standard', 'listedDate': '2024-11-24T00:00:00.000Z', 'removedDate': '2024-11-25T00:00:00.000Z', 'daysOnMarket': 1}, '2025-01-03': {'event': 'Rental Listing', 'price': 1770, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'daysOnMarket': 1}}}, {'id': '77-12th-St-NE,-Unit-912,-Atlanta,-GA-30309', 'formattedAddress': '77 12th St NE, Unit 912, Atlanta, GA 30309', 'addressLine1': '77 12th St NE', 'addressLine2': 'Unit 912', 'city': 'Atlanta', 'state': 'GA', 'zipCode': '30309', 'county': 'Fulton', 'latitude': 33.784245, 'longitude': -84.385033, 'propertyType': 'Apartment', 'bedrooms': 1, 'bathrooms': 1, 'squareFootage': 784, 'status': 'Active', 'price': 1981, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'createdDate': '2024-09-14T00:00:00.000Z', 'lastSeenDate': '2025-01-03T04:43:36.201Z', 'daysOnMarket': 1, 'history': {'2024-10-18': {'event': 'Rental Listing', 'price': 2082, 'listingType': 'Standard', 'listedDate': '2024-10-18T00:00:00.000Z', 'removedDate': '2024-10-19T00:00:00.000Z', 'daysOnMarket': 1}, '2025-01-03': {'event': 'Rental Listing', 'price': 1981, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'daysOnMarket': 1}}}, {'id': '131-Ralph-Mcgill-Blvd-NE,-Apt-15,-Atlanta,-GA-30308', 'formattedAddress': '131 Ralph Mcgill Blvd NE, Apt 15, Atlanta, GA 30308', 'addressLine1': '131 Ralph Mcgill Blvd NE', 'addressLine2': 'Apt 15', 'city': 'Atlanta', 'state': 'GA', 'zipCode': '30308', 'county': 'Fulton', 'latitude': 33.76392, 'longitude': -84.383087, 'propertyType': 'Single Family', 'bedrooms': 2, 'bathrooms': 1, 'squareFootage': 1350, 'status': 'Active', 'price': 1495, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'createdDate': '2024-03-27T00:00:00.000Z', 'lastSeenDate': '2025-01-03T04:43:36.200Z', 'daysOnMarket': 1, 'history': {'2025-01-03': {'event': 'Rental Listing', 'price': 1495, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'daysOnMarket': 1}}}, {'id': '3005-Peachtree-Rd-NE,-Unit-2022,-Atlanta,-GA-30305', 'formattedAddress': '3005 Peachtree Rd NE, Unit 2022, Atlanta, GA 30305', 'addressLine1': '3005 Peachtree Rd NE', 'addressLine2': 'Unit 2022', 'city': 'Atlanta', 'state': 'GA', 'zipCode': '30305', 'county': 'Fulton', 'latitude': 33.836842, 'longitude': -84.381149, 'propertyType': 'Apartment', 'bedrooms': 2, 'bathrooms': 2, 'squareFootage': 1087, 'status': 'Active', 'price': 2936, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'createdDate': '2024-06-19T00:00:00.000Z', 'lastSeenDate': '2025-01-03T04:43:36.200Z', 'daysOnMarket': 1, 'history': {'2024-10-21': {'event': 'Rental Listing', 'price': 3061, 'listingType': 'Standard', 'listedDate': '2024-10-21T00:00:00.000Z', 'removedDate': '2024-10-22T00:00:00.000Z', 'daysOnMarket': 1}, '2025-01-03': {'event': 'Rental Listing', 'price': 2936, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'daysOnMarket': 1}}}, {'id': '6125-Roswell-Rd,-Unit-307,-Atlanta,-GA-30328', 'formattedAddress': '6125 Roswell Rd, Unit 307, Atlanta, GA 30328', 'addressLine1': '6125 Roswell Rd', 'addressLine2': 'Unit 307', 'city': 'Atlanta', 'state': 'GA', 'zipCode': '30328', 'county': 'Fulton', 'latitude': 33.922661, 'longitude': -84.377747, 'propertyType': 'Apartment', 'bedrooms': 3, 'bathrooms': 2, 'squareFootage': 1461, 'status': 'Active', 'price': 2935, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'createdDate': '2024-09-13T00:00:00.000Z', 'lastSeenDate': '2025-01-03T04:43:36.199Z', 'daysOnMarket': 1, 'history': {'2024-09-23': {'event': 'Rental Listing', 'price': 3077, 'listingType': 'Standard', 'listedDate': '2024-09-23T00:00:00.000Z', 'removedDate': '2024-09-24T00:00:00.000Z', 'daysOnMarket': 1}, '2024-10-04': {'event': 'Rental Listing', 'price': 3428, 'listingType': 'Standard', 'listedDate': '2024-10-04T00:00:00.000Z', 'removedDate': '2024-10-05T00:00:00.000Z', 'daysOnMarket': 1}, '2024-10-29': {'event': 'Rental Listing', 'price': 3355, 'listingType': 'Standard', 'listedDate': '2024-10-29T00:00:00.000Z', 'removedDate': '2024-10-30T00:00:00.000Z', 'daysOnMarket': 1}, '2024-11-12': {'event': 'Rental Listing', 'price': 3246, 'listingType': 'Standard', 'listedDate': '2024-11-12T00:00:00.000Z', 'removedDate': '2024-11-13T00:00:00.000Z', 'daysOnMarket': 1}, '2024-12-08': {'event': 'Rental Listing', 'price': 3062, 'listingType': 'Standard', 'listedDate': '2024-12-08T00:00:00.000Z', 'removedDate': '2024-12-09T00:00:00.000Z', 'daysOnMarket': 1}, '2024-12-18': {'event': 'Rental Listing', 'price': 3661, 'listingType': 'Standard', 'listedDate': '2024-12-18T00:00:00.000Z', 'removedDate': '2024-12-19T00:00:00.000Z', 'daysOnMarket': 1}, '2025-01-03': {'event': 'Rental Listing', 'price': 2935, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'daysOnMarket': 1}}}, {'id': '3200-Lenox-Rd-NE,-Apt-F113,-Atlanta,-GA-30324', 'formattedAddress': '3200 Lenox Rd NE, Apt F113, Atlanta, GA 30324', 'addressLine1': '3200 Lenox Rd NE', 'addressLine2': 'Apt F113', 'city': 'Atlanta', 'state': 'GA', 'zipCode': '30324', 'county': 'Fulton', 'latitude': 33.842808, 'longitude': -84.359253, 'propertyType': 'Apartment', 'bathrooms': 1, 'squareFootage': 530, 'status': 'Active', 'price': 1490, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'createdDate': '2024-01-06T00:00:00.000Z', 'lastSeenDate': '2025-01-03T04:43:36.198Z', 'daysOnMarket': 1, 'history': {'2024-09-24': {'event': 'Rental Listing', 'price': 1390, 'listingType': 'Standard', 'listedDate': '2024-09-24T00:00:00.000Z', 'removedDate': '2024-09-25T00:00:00.000Z', 'daysOnMarket': 1}, '2024-10-22': {'event': 'Rental Listing', 'price': 1290, 'listingType': 'Standard', 'listedDate': '2024-10-22T00:00:00.000Z', 'removedDate': '2024-10-23T00:00:00.000Z', 'daysOnMarket': 1}, '2024-11-06': {'event': 'Rental Listing', 'price': 1475, 'listingType': 'Standard', 'listedDate': '2024-11-06T00:00:00.000Z', 'removedDate': '2024-11-07T00:00:00.000Z', 'daysOnMarket': 1}, '2024-12-17': {'event': 'Rental Listing', 'price': 1490, 'listingType': 'Standard', 'listedDate': '2024-12-17T00:00:00.000Z', 'removedDate': '2024-12-18T00:00:00.000Z', 'daysOnMarket': 1}, '2025-01-03': {'event': 'Rental Listing', 'price': 1490, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'daysOnMarket': 1}}}, {'id': '2430-Cheshire-Bridge-Rd-NE,-Apt-224,-Atlanta,-GA-30324', 'formattedAddress': '2430 Cheshire Bridge Rd NE, Apt 224, Atlanta, GA 30324', 'addressLine1': '2430 Cheshire Bridge Rd NE', 'addressLine2': 'Apt 224', 'city': 'Atlanta', 'state': 'GA', 'zipCode': '30324', 'county': 'Fulton', 'latitude': 33.821079, 'longitude': -84.352219, 'propertyType': 'Apartment', 'bedrooms': 3, 'bathrooms': 2, 'squareFootage': 1341, 'status': 'Active', 'price': 1999, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'createdDate': '2024-12-28T00:00:00.000Z', 'lastSeenDate': '2025-01-03T04:43:36.198Z', 'daysOnMarket': 1, 'history': {'2025-01-03': {'event': 'Rental Listing', 'price': 1999, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'daysOnMarket': 1}}}, {'id': '3005-Peachtree-Rd-NE,-Unit-1507,-Atlanta,-GA-30305', 'formattedAddress': '3005 Peachtree Rd NE, Unit 1507, Atlanta, GA 30305', 'addressLine1': '3005 Peachtree Rd NE', 'addressLine2': 'Unit 1507', 'city': 'Atlanta', 'state': 'GA', 'zipCode': '30305', 'county': 'Fulton', 'latitude': 33.836842, 'longitude': -84.381149, 'propertyType': 'Apartment', 'bedrooms': 3, 'bathrooms': 2, 'squareFootage': 1380, 'status': 'Active', 'price': 3238, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'createdDate': '2024-06-17T00:00:00.000Z', 'lastSeenDate': '2025-01-03T04:43:36.197Z', 'daysOnMarket': 1, 'history': {'2024-09-28': {'event': 'Rental Listing', 'price': 3238, 'listingType': 'Standard', 'listedDate': '2024-09-28T00:00:00.000Z', 'removedDate': '2024-09-29T00:00:00.000Z', 'daysOnMarket': 1}, '2024-10-03': {'event': 'Rental Listing', 'price': 3238, 'listingType': 'Standard', 'listedDate': '2024-10-03T00:00:00.000Z', 'removedDate': '2024-10-04T00:00:00.000Z', 'daysOnMarket': 1}, '2024-10-09': {'event': 'Rental Listing', 'price': 3238, 'listingType': 'Standard', 'listedDate': '2024-10-09T00:00:00.000Z', 'removedDate': '2024-10-10T00:00:00.000Z', 'daysOnMarket': 1}, '2024-10-29': {'event': 'Rental Listing', 'price': 3238, 'listingType': 'Standard', 'listedDate': '2024-10-29T00:00:00.000Z', 'removedDate': '2024-10-30T00:00:00.000Z', 'daysOnMarket': 1}, '2025-01-03': {'event': 'Rental Listing', 'price': 3238, 'listingType': 'Standard', 'listedDate': '2025-01-03T00:00:00.000Z', 'removedDate': None, 'daysOnMarket': 1}}}, {'id': '1050-Lenox-Park-Blvd-NE,-Apt-6102,-Atlanta,-GA-30319', 'formattedAddress': '1050 Lenox Park Blvd NE, Apt 6102, Atlanta, GA

In [5]:

df=pd.DataFrame(listings)
df

,id,formattedAddress,addressLine1,addressLine2,city,state,zipCode,county,latitude,longitude,...,status,price,listingType,listedDate,removedDate,createdDate,lastSeenDate,daysOnMarket,history,yearBuilt
0,"171-Auburn-Ave-NE,-Unit-422,-Atlanta,-GA-30303","171 Auburn Ave NE, Unit 422, Atlanta, GA 30303",171 Auburn Ave NE,Unit 422,Atlanta,GA,30303,Fulton,33.755209,-84.381849,...,Active,1345,Standard,2025-01-03T00:00:00.000Z,None,2023-06-17T00:00:00.000Z,2025-01-03T04:43:36.209Z,1,"{'2024-12-15': {'event': 'Rental Listing', 'pr...",NaN
1,"3005-Peachtree-Rd-NE,-Unit-1813,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 1813, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 1813,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2143,Standard,2025-01-03T00:00:00.000Z,None,2023-07-28T00:00:00.000Z,2025-01-03T04:43:36.209Z,1,"{'2024-10-05': {'event': 'Rental Listing', 'pr...",NaN
2,"3005-Peachtree-Rd-NE,-Unit-1301,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 1301, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 1301,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2037,Standard,2025-01-03T00:00:00.000Z,None,2024-07-30T00:00:00.000Z,2025-01-03T04:43:36.208Z,1,"{'2024-10-10': {'event': 'Rental Listing', 'pr...",NaN
3,"3005-Peachtree-Rd-NE,-Unit-2122,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 2122, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 2122,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2961,Standard,2025-01-03T00:00:00.000Z,None,2023-07-29T00:00:00.000Z,2025-01-03T04:43:36.204Z,1,"{'2024-12-01': {'event': 'Rental Listing', 'pr...",NaN
4,"3242-Peachtree-Rd-NE,-Unit-1709,-Atlanta,-GA-3...","3242 Peachtree Rd NE, Unit 1709, Atlanta, GA 3...",3242 Peachtree Rd NE,Unit 1709,Atlanta,GA,30305,Fulton,33.843845,-84.372772,...,Active,2374,Standard,2025-01-03T00:00:00.000Z,None,2023-12-15T00:00:00.000Z,2025-01-03T04:43:36.204Z,1,"{'2024-11-07': {'event': 'Rental Listing', 'pr...",NaN
5,"171-Auburn-Ave-NE,-Unit-409,-Atlanta,-GA-30303","171 Auburn Ave NE, Unit 409, Atlanta, GA 30303",171 Auburn Ave NE,Unit 409,Atlanta,GA,30303,Fulton,33.755209,-84.381849,...,Active,1595,Standard,2025-01-03T00:00:00.000Z,None,2023-06-03T00:00:00.000Z,2025-01-03T04:43:36.203Z,1,"{'2024-11-19': {'event': 'Rental Listing', 'pr...",NaN
6,"2900-Pharr-Ct,-South-NW-Apt-3104,-Atlanta,-GA-...","2900 Pharr Ct, South NW Apt 3104, Atlanta, GA ...",2900 Pharr Ct,South NW Apt 3104,Atlanta,GA,30305,Fulton,33.834778,-84.386818,...,Active,1882,Standard,2025-01-03T00:00:00.000Z,None,2024-08-02T00:00:00.000Z,2025-01-03T04:43:36.202Z,1,"{'2024-11-13': {'event': 'Rental Listing', 'pr...",NaN
7,"1050-Lenox-Park-Blvd-NE,-Apt-9305,-Atlanta,-GA...","1050 Lenox Park Blvd NE, Apt 9305, Atlanta, GA...",1050 Lenox Park Blvd NE,Apt 9305,Atlanta,GA,30319,Fulton,33.851849,-84.348976,...,Active,1606,Standard,2025-01-03T00:00:00.000Z,None,2024-09-15T00:00:00.000Z,2025-01-03T04:43:36.202Z,1,"{'2024-10-20': {'event': 'Rental Listing', 'pr...",NaN
8,"2845-Holcomb-Bridge-Rd,---2301,-Alpharetta,-GA...","2845 Holcomb Bridge Rd, # 2301, Alpharetta, GA...",2845 Holcomb Bridge Rd,# 2301,Alpharetta,GA,30022,Fulton,33.992561,-84.277695,...,Active,1770,Standard,2025-01-03T00:00:00.000Z,None,2024-07-28T00:00:00.000Z,2025-01-03T04:43:36.201Z,1,"{'2024-09-29': {'event': 'Rental Listing', 'pr...",NaN
9,"77-12th-St-NE,-Unit-912,-Atlanta,-GA-30309","77 12th St NE, Unit 912, Atlanta, GA 30309",77 12th St NE,Unit 912,Atlanta,GA,30309,Fulton,33.784245,-84.385033,...,Active,1981,Standard,2025-01-03T00:00:00.000Z,None,2024-09-14T00:00:00.000Z,2025-01-03T04:43:36.201Z,1,"{'2024-10-18': {'event': 'Rental Listing', 'pr...",NaN
10,"131-Ralph-Mcgill-Blvd-NE,-Apt-15,-Atlanta,-GA-...","131 Ralph Mcgill Blvd NE, Apt 15, Atlanta, GA ...",131 Ralph Mcgill Blvd NE,Apt 15,Atlanta,GA,30308,Fulton,33.763920,-84.383087,...,Active,1495,Standard,2025-01-03T00:00:00.000Z,None,2024-03-27T00:00:00.000Z,2025-01-03T04:43:36.200Z,1,"{'2025-01-03': {'event': 'Rental Listing', 'pr...",NaN
11,"3005-Peachtree-Rd-NE,-Unit-2022,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 2022, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 2022,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2936,Standard,2025-01-03T00:00:00.000Z,None,2024-06-19T00:00:00.000Z,2025-01-03T04:43:36.200Z,1,"{'2024-10-21': {'event': 'Rental Listing', 'pr...",NaN
12,"6125-Roswell-Rd,-Unit-307,-Atlanta,-GA-30328","6125 Roswell Rd, Unit 307, Atlanta, GA 30328",6125 Roswell Rd,Unit 307,Atlanta,GA,30328,Fulton,33.922661,-84.377747,...,Active,2935,Standard,2025-01-03T00:00:00.000Z,None,2024-09-13T00:00:00.000Z,2025-01-03T04:43:36.199Z,1,"{'2024-09-23': {'event': 'Rental Listing', 'pr...",NaN
13,"3200-Lenox-Rd-NE,-Apt-F113,-Atlanta,-GA-30324","3200 Lenox Rd NE, Apt F113, Atlanta, GA 30324",3200 Lenox Rd NE,Apt F113,Atlanta,GA,30324,Fulton,33.842808,-84.359253,...,Active,1490,Standard,2025-01-03T00:00:00.000Z,None,2024-01-06T00:00:00.000Z,2025-01-03T04:43:36.198Z,1,"{'2024-09-24': {'event': 'Rental Listing', 'pr...",NaN
14,"2430-Cheshire-Bridge-Rd-NE,-Apt-224,-Atlanta,-...","2430 Cheshire Bridge Rd NE, Apt 224, Atlanta, ...",2430 Cheshire Bridge Rd NE,Apt 224,Atlanta,GA,30324,Fulton,33.821079,-84.352219,...,Active,1999,Standard,2025-01-03T00:00:00.000Z,None,2024-12-28T00:00:00.000Z,2025-01-03T04:43:36.198Z,1,"{'2025-01-03': {'event': 'Rental Listing', 'pr...",NaN
15,"3005-Peachtree-Rd-NE,-Unit-1507,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 1507, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 1507,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,3238,Standard,2025-01-03T00:00:00.000Z,None,2024-06-17T00:00:00.000Z,2025-01-03T04:43:36.197Z,1,"{'2024-09-28': {'event': 'Rental Listing', 'pr...",NaN
16,"1050-Lenox-Park-Blvd-NE,-Apt-6102,-Atlanta,-GA...","1050 Lenox Park Blvd NE, Apt 6102, Atlanta, GA...",1050 Lenox Park Blvd NE,Apt 6102,Atlanta,GA,30319,Fulton,33.851849,-84.348976,...,Active,2276,Standard,2025-01-03T00:00:00.000Z,None,2025-01-01T00:00:00.000Z,2025-01-03T04:43:36.197Z,1,"{'2025-01-03': {'event': 'Rental Listing', 'pr...",NaN
17,"2301-Godby-Rd,-Atlanta,-GA-30349","2301 Godby Rd, Atlanta, GA 30349",2301 Godby Rd,None,Atlanta,GA,30349,Fulton,33.618275,-84.466850,...,Active,1125,Standard,2025-01-03T00:00:00.000Z,None,2020-03-01T18:04:10.829Z,2025-01-03T04:43:36.196Z,1,"{'2024-10-05': {'event': 'Rental Listing', 'pr...",1973.0
18,"6400-Blue-Stone-Rd,-Unit-3017,-Atlanta,-GA-30328","6400 Blue Stone Rd, Unit 3017, Atlanta, GA 30328",6400 Blue Stone Rd,Unit 3017,Atlanta,GA,30328,Fulton,33.925114,-84.382454,...,Active,1744,Standard,2025-01-03T00:00:00.000Z,None,2024-10-13T00:00:00.000Z,2025-01-03T04:43:36.196Z,1,"{'2024-10-14': {'event': 'Rental Listing', 'pr...",NaN
19,"131-Ralph-Mcgill-Blvd-NE,-Apt-11,-Atlanta,-GA-...","131 Ralph Mcgill Blvd NE, Apt 11, Atlanta, GA ...",131 Ralph Mcgill Blvd NE,Apt 11,Atlanta,GA,30308,Fulton,33.763920,-84.383087,...,Active,1495,Standard,2025-01-03T00:00:00.000Z,None,2022-06-11T02:21:01.228Z,2025-01-03T04:43:36.195Z,1,"{'2025-01-03': {'event': 'Rental Listing', 'pr...",NaN

In [6]:
df[df['status']=='Active']

,id,formattedAddress,addressLine1,addressLine2,city,state,zipCode,county,latitude,longitude,...,status,price,listingType,listedDate,removedDate,createdDate,lastSeenDate,daysOnMarket,history,yearBuilt
0,"171-Auburn-Ave-NE,-Unit-422,-Atlanta,-GA-30303","171 Auburn Ave NE, Unit 422, Atlanta, GA 30303",171 Auburn Ave NE,Unit 422,Atlanta,GA,30303,Fulton,33.755209,-84.381849,...,Active,1345,Standard,2025-01-03T00:00:00.000Z,None,2023-06-17T00:00:00.000Z,2025-01-03T04:43:36.209Z,1,"{'2024-12-15': {'event': 'Rental Listing', 'pr...",NaN
1,"3005-Peachtree-Rd-NE,-Unit-1813,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 1813, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 1813,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2143,Standard,2025-01-03T00:00:00.000Z,None,2023-07-28T00:00:00.000Z,2025-01-03T04:43:36.209Z,1,"{'2024-10-05': {'event': 'Rental Listing', 'pr...",NaN
2,"3005-Peachtree-Rd-NE,-Unit-1301,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 1301, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 1301,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2037,Standard,2025-01-03T00:00:00.000Z,None,2024-07-30T00:00:00.000Z,2025-01-03T04:43:36.208Z,1,"{'2024-10-10': {'event': 'Rental Listing', 'pr...",NaN
3,"3005-Peachtree-Rd-NE,-Unit-2122,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 2122, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 2122,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2961,Standard,2025-01-03T00:00:00.000Z,None,2023-07-29T00:00:00.000Z,2025-01-03T04:43:36.204Z,1,"{'2024-12-01': {'event': 'Rental Listing', 'pr...",NaN
4,"3242-Peachtree-Rd-NE,-Unit-1709,-Atlanta,-GA-3...","3242 Peachtree Rd NE, Unit 1709, Atlanta, GA 3...",3242 Peachtree Rd NE,Unit 1709,Atlanta,GA,30305,Fulton,33.843845,-84.372772,...,Active,2374,Standard,2025-01-03T00:00:00.000Z,None,2023-12-15T00:00:00.000Z,2025-01-03T04:43:36.204Z,1,"{'2024-11-07': {'event': 'Rental Listing', 'pr...",NaN
5,"171-Auburn-Ave-NE,-Unit-409,-Atlanta,-GA-30303","171 Auburn Ave NE, Unit 409, Atlanta, GA 30303",171 Auburn Ave NE,Unit 409,Atlanta,GA,30303,Fulton,33.755209,-84.381849,...,Active,1595,Standard,2025-01-03T00:00:00.000Z,None,2023-06-03T00:00:00.000Z,2025-01-03T04:43:36.203Z,1,"{'2024-11-19': {'event': 'Rental Listing', 'pr...",NaN
6,"2900-Pharr-Ct,-South-NW-Apt-3104,-Atlanta,-GA-...","2900 Pharr Ct, South NW Apt 3104, Atlanta, GA ...",2900 Pharr Ct,South NW Apt 3104,Atlanta,GA,30305,Fulton,33.834778,-84.386818,...,Active,1882,Standard,2025-01-03T00:00:00.000Z,None,2024-08-02T00:00:00.000Z,2025-01-03T04:43:36.202Z,1,"{'2024-11-13': {'event': 'Rental Listing', 'pr...",NaN
7,"1050-Lenox-Park-Blvd-NE,-Apt-9305,-Atlanta,-GA...","1050 Lenox Park Blvd NE, Apt 9305, Atlanta, GA...",1050 Lenox Park Blvd NE,Apt 9305,Atlanta,GA,30319,Fulton,33.851849,-84.348976,...,Active,1606,Standard,2025-01-03T00:00:00.000Z,None,2024-09-15T00:00:00.000Z,2025-01-03T04:43:36.202Z,1,"{'2024-10-20': {'event': 'Rental Listing', 'pr...",NaN
8,"2845-Holcomb-Bridge-Rd,---2301,-Alpharetta,-GA...","2845 Holcomb Bridge Rd, # 2301, Alpharetta, GA...",2845 Holcomb Bridge Rd,# 2301,Alpharetta,GA,30022,Fulton,33.992561,-84.277695,...,Active,1770,Standard,2025-01-03T00:00:00.000Z,None,2024-07-28T00:00:00.000Z,2025-01-03T04:43:36.201Z,1,"{'2024-09-29': {'event': 'Rental Listing', 'pr...",NaN
9,"77-12th-St-NE,-Unit-912,-Atlanta,-GA-30309","77 12th St NE, Unit 912, Atlanta, GA 30309",77 12th St NE,Unit 912,Atlanta,GA,30309,Fulton,33.784245,-84.385033,...,Active,1981,Standard,2025-01-03T00:00:00.000Z,None,2024-09-14T00:00:00.000Z,2025-01-03T04:43:36.201Z,1,"{'2024-10-18': {'event': 'Rental Listing', 'pr...",NaN
10,"131-Ralph-Mcgill-Blvd-NE,-Apt-15,-Atlanta,-GA-...","131 Ralph Mcgill Blvd NE, Apt 15, Atlanta, GA ...",131 Ralph Mcgill Blvd NE,Apt 15,Atlanta,GA,30308,Fulton,33.763920,-84.383087,...,Active,1495,Standard,2025-01-03T00:00:00.000Z,None,2024-03-27T00:00:00.000Z,2025-01-03T04:43:36.200Z,1,"{'2025-01-03': {'event': 'Rental Listing', 'pr...",NaN
11,"3005-Peachtree-Rd-NE,-Unit-2022,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 2022, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 2022,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2936,Standard,2025-01-03T00:00:00.000Z,None,2024-06-19T00:00:00.000Z,2025-01-03T04:43:36.200Z,1,"{'2024-10-21': {'event': 'Rental Listing', 'pr...",NaN
12,"6125-Roswell-Rd,-Unit-307,-Atlanta,-GA-30328","6125 Roswell Rd, Unit 307, Atlanta, GA 30328",6125 Roswell Rd,Unit 307,Atlanta,GA,30328,Fulton,33.922661,-84.377747,...,Active,2935,Standard,2025-01-03T00:00:00.000Z,None,2024-09-13T00:00:00.000Z,2025-01-03T04:43:36.199Z,1,"{'2024-09-23': {'event': 'Rental Listing', 'pr...",NaN
13,"3200-Lenox-Rd-NE,-Apt-F113,-Atlanta,-GA-30324","3200 Lenox Rd NE, Apt F113, Atlanta, GA 30324",3200 Lenox Rd NE,Apt F113,Atlanta,GA,30324,Fulton,33.842808,-84.359253,...,Active,1490,Standard,2025-01-03T00:00:00.000Z,None,2024-01-06T00:00:00.000Z,2025-01-03T04:43:36.198Z,1,"{'2024-09-24': {'event': 'Rental Listing', 'pr...",NaN
14,"2430-Cheshire-Bridge-Rd-NE,-Apt-224,-Atlanta,-...","2430 Cheshire Bridge Rd NE, Apt 224, Atlanta, ...",2430 Cheshire Bridge Rd NE,Apt 224,Atlanta,GA,30324,Fulton,33.821079,-84.352219,...,Active,1999,Standard,2025-01-03T00:00:00.000Z,None,2024-12-28T00:00:00.000Z,2025-01-03T04:43:36.198Z,1,"{'2025-01-03': {'event': 'Rental Listing', 'pr...",NaN
15,"3005-Peachtree-Rd-NE,-Unit-1507,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 1507, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 1507,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,3238,Standard,2025-01-03T00:00:00.000Z,None,2024-06-17T00:00:00.000Z,2025-01-03T04:43:36.197Z,1,"{'2024-09-28': {'event': 'Rental Listing', 'pr...",NaN
16,"1050-Lenox-Park-Blvd-NE,-Apt-6102,-Atlanta,-GA...","1050 Lenox Park Blvd NE, Apt 6102, Atlanta, GA...",1050 Lenox Park Blvd NE,Apt 6102,Atlanta,GA,30319,Fulton,33.851849,-84.348976,...,Active,2276,Standard,2025-01-03T00:00:00.000Z,None,2025-01-01T00:00:00.000Z,2025-01-03T04:43:36.197Z,1,"{'2025-01-03': {'event': 'Rental Listing', 'pr...",NaN
17,"2301-Godby-Rd,-Atlanta,-GA-30349","2301 Godby Rd, Atlanta, GA 30349",2301 Godby Rd,None,Atlanta,GA,30349,Fulton,33.618275,-84.466850,...,Active,1125,Standard,2025-01-03T00:00:00.000Z,None,2020-03-01T18:04:10.829Z,2025-01-03T04:43:36.196Z,1,"{'2024-10-05': {'event': 'Rental Listing', 'pr...",1973.0
18,"6400-Blue-Stone-Rd,-Unit-3017,-Atlanta,-GA-30328","6400 Blue Stone Rd, Unit 3017, Atlanta, GA 30328",6400 Blue Stone Rd,Unit 3017,Atlanta,GA,30328,Fulton,33.925114,-84.382454,...,Active,1744,Standard,2025-01-03T00:00:00.000Z,None,2024-10-13T00:00:00.000Z,2025-01-03T04:43:36.196Z,1,"{'2024-10-14': {'event': 'Rental Listing', 'pr...",NaN
19,"131-Ralph-Mcgill-Blvd-NE,-Apt-11,-Atlanta,-GA-...","131 Ralph Mcgill Blvd NE, Apt 11, Atlanta, GA ...",131 Ralph Mcgill Blvd NE,Apt 11,Atlanta,GA,30308,Fulton,33.763920,-84.383087,...,Active,1495,Standard,2025-01-03T00:00:00.000Z,None,2022-06-11T02:21:01.228Z,2025-01-03T04:43:36.195Z,1,"{'2025-01-03': {'event': 'Rental Listing', 'pr...",NaN

In [7]:
df.sort_values(by='price',inplace=True)

In [8]:
df

,id,formattedAddress,addressLine1,addressLine2,city,state,zipCode,county,latitude,longitude,...,status,price,listingType,listedDate,removedDate,createdDate,lastSeenDate,daysOnMarket,history,yearBuilt
17,"2301-Godby-Rd,-Atlanta,-GA-30349","2301 Godby Rd, Atlanta, GA 30349",2301 Godby Rd,None,Atlanta,GA,30349,Fulton,33.618275,-84.466850,...,Active,1125,Standard,2025-01-03T00:00:00.000Z,None,2020-03-01T18:04:10.829Z,2025-01-03T04:43:36.196Z,1,"{'2024-10-05': {'event': 'Rental Listing', 'pr...",1973.0
0,"171-Auburn-Ave-NE,-Unit-422,-Atlanta,-GA-30303","171 Auburn Ave NE, Unit 422, Atlanta, GA 30303",171 Auburn Ave NE,Unit 422,Atlanta,GA,30303,Fulton,33.755209,-84.381849,...,Active,1345,Standard,2025-01-03T00:00:00.000Z,None,2023-06-17T00:00:00.000Z,2025-01-03T04:43:36.209Z,1,"{'2024-12-15': {'event': 'Rental Listing', 'pr...",NaN
13,"3200-Lenox-Rd-NE,-Apt-F113,-Atlanta,-GA-30324","3200 Lenox Rd NE, Apt F113, Atlanta, GA 30324",3200 Lenox Rd NE,Apt F113,Atlanta,GA,30324,Fulton,33.842808,-84.359253,...,Active,1490,Standard,2025-01-03T00:00:00.000Z,None,2024-01-06T00:00:00.000Z,2025-01-03T04:43:36.198Z,1,"{'2024-09-24': {'event': 'Rental Listing', 'pr...",NaN
10,"131-Ralph-Mcgill-Blvd-NE,-Apt-15,-Atlanta,-GA-...","131 Ralph Mcgill Blvd NE, Apt 15, Atlanta, GA ...",131 Ralph Mcgill Blvd NE,Apt 15,Atlanta,GA,30308,Fulton,33.763920,-84.383087,...,Active,1495,Standard,2025-01-03T00:00:00.000Z,None,2024-03-27T00:00:00.000Z,2025-01-03T04:43:36.200Z,1,"{'2025-01-03': {'event': 'Rental Listing', 'pr...",NaN
19,"131-Ralph-Mcgill-Blvd-NE,-Apt-11,-Atlanta,-GA-...","131 Ralph Mcgill Blvd NE, Apt 11, Atlanta, GA ...",131 Ralph Mcgill Blvd NE,Apt 11,Atlanta,GA,30308,Fulton,33.763920,-84.383087,...,Active,1495,Standard,2025-01-03T00:00:00.000Z,None,2022-06-11T02:21:01.228Z,2025-01-03T04:43:36.195Z,1,"{'2025-01-03': {'event': 'Rental Listing', 'pr...",NaN
5,"171-Auburn-Ave-NE,-Unit-409,-Atlanta,-GA-30303","171 Auburn Ave NE, Unit 409, Atlanta, GA 30303",171 Auburn Ave NE,Unit 409,Atlanta,GA,30303,Fulton,33.755209,-84.381849,...,Active,1595,Standard,2025-01-03T00:00:00.000Z,None,2023-06-03T00:00:00.000Z,2025-01-03T04:43:36.203Z,1,"{'2024-11-19': {'event': 'Rental Listing', 'pr...",NaN
7,"1050-Lenox-Park-Blvd-NE,-Apt-9305,-Atlanta,-GA...","1050 Lenox Park Blvd NE, Apt 9305, Atlanta, GA...",1050 Lenox Park Blvd NE,Apt 9305,Atlanta,GA,30319,Fulton,33.851849,-84.348976,...,Active,1606,Standard,2025-01-03T00:00:00.000Z,None,2024-09-15T00:00:00.000Z,2025-01-03T04:43:36.202Z,1,"{'2024-10-20': {'event': 'Rental Listing', 'pr...",NaN
18,"6400-Blue-Stone-Rd,-Unit-3017,-Atlanta,-GA-30328","6400 Blue Stone Rd, Unit 3017, Atlanta, GA 30328",6400 Blue Stone Rd,Unit 3017,Atlanta,GA,30328,Fulton,33.925114,-84.382454,...,Active,1744,Standard,2025-01-03T00:00:00.000Z,None,2024-10-13T00:00:00.000Z,2025-01-03T04:43:36.196Z,1,"{'2024-10-14': {'event': 'Rental Listing', 'pr...",NaN
8,"2845-Holcomb-Bridge-Rd,---2301,-Alpharetta,-GA...","2845 Holcomb Bridge Rd, # 2301, Alpharetta, GA...",2845 Holcomb Bridge Rd,# 2301,Alpharetta,GA,30022,Fulton,33.992561,-84.277695,...,Active,1770,Standard,2025-01-03T00:00:00.000Z,None,2024-07-28T00:00:00.000Z,2025-01-03T04:43:36.201Z,1,"{'2024-09-29': {'event': 'Rental Listing', 'pr...",NaN
6,"2900-Pharr-Ct,-South-NW-Apt-3104,-Atlanta,-GA-...","2900 Pharr Ct, South NW Apt 3104, Atlanta, GA ...",2900 Pharr Ct,South NW Apt 3104,Atlanta,GA,30305,Fulton,33.834778,-84.386818,...,Active,1882,Standard,2025-01-03T00:00:00.000Z,None,2024-08-02T00:00:00.000Z,2025-01-03T04:43:36.202Z,1,"{'2024-11-13': {'event': 'Rental Listing', 'pr...",NaN
9,"77-12th-St-NE,-Unit-912,-Atlanta,-GA-30309","77 12th St NE, Unit 912, Atlanta, GA 30309",77 12th St NE,Unit 912,Atlanta,GA,30309,Fulton,33.784245,-84.385033,...,Active,1981,Standard,2025-01-03T00:00:00.000Z,None,2024-09-14T00:00:00.000Z,2025-01-03T04:43:36.201Z,1,"{'2024-10-18': {'event': 'Rental Listing', 'pr...",NaN
14,"2430-Cheshire-Bridge-Rd-NE,-Apt-224,-Atlanta,-...","2430 Cheshire Bridge Rd NE, Apt 224, Atlanta, ...",2430 Cheshire Bridge Rd NE,Apt 224,Atlanta,GA,30324,Fulton,33.821079,-84.352219,...,Active,1999,Standard,2025-01-03T00:00:00.000Z,None,2024-12-28T00:00:00.000Z,2025-01-03T04:43:36.198Z,1,"{'2025-01-03': {'event': 'Rental Listing', 'pr...",NaN
2,"3005-Peachtree-Rd-NE,-Unit-1301,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 1301, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 1301,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2037,Standard,2025-01-03T00:00:00.000Z,None,2024-07-30T00:00:00.000Z,2025-01-03T04:43:36.208Z,1,"{'2024-10-10': {'event': 'Rental Listing', 'pr...",NaN
1,"3005-Peachtree-Rd-NE,-Unit-1813,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 1813, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 1813,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2143,Standard,2025-01-03T00:00:00.000Z,None,2023-07-28T00:00:00.000Z,2025-01-03T04:43:36.209Z,1,"{'2024-10-05': {'event': 'Rental Listing', 'pr...",NaN
16,"1050-Lenox-Park-Blvd-NE,-Apt-6102,-Atlanta,-GA...","1050 Lenox Park Blvd NE, Apt 6102, Atlanta, GA...",1050 Lenox Park Blvd NE,Apt 6102,Atlanta,GA,30319,Fulton,33.851849,-84.348976,...,Active,2276,Standard,2025-01-03T00:00:00.000Z,None,2025-01-01T00:00:00.000Z,2025-01-03T04:43:36.197Z,1,"{'2025-01-03': {'event': 'Rental Listing', 'pr...",NaN
4,"3242-Peachtree-Rd-NE,-Unit-1709,-Atlanta,-GA-3...","3242 Peachtree Rd NE, Unit 1709, Atlanta, GA 3...",3242 Peachtree Rd NE,Unit 1709,Atlanta,GA,30305,Fulton,33.843845,-84.372772,...,Active,2374,Standard,2025-01-03T00:00:00.000Z,None,2023-12-15T00:00:00.000Z,2025-01-03T04:43:36.204Z,1,"{'2024-11-07': {'event': 'Rental Listing', 'pr...",NaN
12,"6125-Roswell-Rd,-Unit-307,-Atlanta,-GA-30328","6125 Roswell Rd, Unit 307, Atlanta, GA 30328",6125 Roswell Rd,Unit 307,Atlanta,GA,30328,Fulton,33.922661,-84.377747,...,Active,2935,Standard,2025-01-03T00:00:00.000Z,None,2024-09-13T00:00:00.000Z,2025-01-03T04:43:36.199Z,1,"{'2024-09-23': {'event': 'Rental Listing', 'pr...",NaN
11,"3005-Peachtree-Rd-NE,-Unit-2022,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 2022, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 2022,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2936,Standard,2025-01-03T00:00:00.000Z,None,2024-06-19T00:00:00.000Z,2025-01-03T04:43:36.200Z,1,"{'2024-10-21': {'event': 'Rental Listing', 'pr...",NaN
3,"3005-Peachtree-Rd-NE,-Unit-2122,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 2122, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 2122,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2961,Standard,2025-01-03T00:00:00.000Z,None,2023-07-29T00:00:00.000Z,2025-01-03T04:43:36.204Z,1,"{'2024-12-01': {'event': 'Rental Listing', 'pr...",NaN
15,"3005-Peachtree-Rd-NE,-Unit-1507,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 1507, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 1507,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,3238,Standard,2025-01-03T00:00:00.000Z,None,2024-06-17T00:00:00.000Z,2025-01-03T04:43:36.197Z,1,"{'2024-09-28': {'event': 'Rental Listing', 'pr...",NaN

In [9]:
price_df = df

In [10]:
price_df = price_df.rename(columns={'index': 'price_id'})

In [11]:
df_homes = price_df[['latitude','longitude']]
df_homes

     latitude  longitude
17  33.618275 -84.466850
0   33.755209 -84.381849
13  33.842808 -84.359253
10  33.763920 -84.383087
19  33.763920 -84.383087
5   33.755209 -84.381849
7   33.851849 -84.348976
18  33.925114 -84.382454
8   33.992561 -84.277695
6   33.834778 -84.386818
9   33.784245 -84.385033
14  33.821079 -84.352219
2   33.836842 -84.381149
1   33.836842 -84.381149
16  33.851849 -84.348976
4   33.843845 -84.372772
12  33.922661 -84.377747
11  33.836842 -84.381149
3   33.836842 -84.381149
15  33.836842 -84.381149

In [12]:
houses = [
    {"id": idx, "location": (row['latitude'], row['longitude'])}
    for idx, row in df_homes.iterrows()
]

In [13]:
houses

[{'id': 17, 'location': (33.618275, -84.46685)},
 {'id': 0, 'location': (33.755209, -84.381849)},
 {'id': 13, 'location': (33.842808, -84.359253)},
 {'id': 10, 'location': (33.76392, -84.383087)},
 {'id': 19, 'location': (33.76392, -84.383087)},
 {'id': 5, 'location': (33.755209, -84.381849)},
 {'id': 7, 'location': (33.851849, -84.348976)},
 {'id': 18, 'location': (33.925114, -84.382454)},
 {'id': 8, 'location': (33.992561, -84.277695)},
 {'id': 6, 'location': (33.834778, -84.386818)},
 {'id': 9, 'location': (33.784245, -84.385033)},
 {'id': 14, 'location': (33.821079, -84.352219)},
 {'id': 2, 'location': (33.836842, -84.381149)},
 {'id': 1, 'location': (33.836842, -84.381149)},
 {'id': 16, 'location': (33.851849, -84.348976)},
 {'id': 4, 'location': (33.843845, -84.372772)},
 {'id': 12, 'location': (33.922661, -84.377747)},
 {'id': 11, 'location': (33.836842, -84.381149)},
 {'id': 3, 'location': (33.836842, -84.381149)},
 {'id': 15, 'location': (33.836842, -84.381149)}]

In [14]:
with open('houses.pkl','wb') as f:
    pkl.dump(houses,f)

In [15]:
gmaps = googlemaps.Client(key=G_API_KEY)

In [16]:
start_time = time.time()
avg_top = house_finder2.top_houses_by_average(houses,10) #can include radius as the third argument
end_time = time.time()
print("total time using average distance: ",end_time-start_time)

total time using average distance:  17.87158513069153

In [17]:
start_time = time.time()
wei_avg_top = house_finder2.top_houses_by_weighted(houses,10) #can include radius as the third argument
end_time = time.time()
print("total time using weighted average distance: ",end_time-start_time)

total time using weighted average distance:  14.18687105178833

In [18]:
start_time = time.time()
knn_top = house_finder2.top_houses_by_knn(houses,10) #can include radius as the third argument
end_time = time.time()
print("total time using K-NN: ",end_time-start_time)

total time using K-NN:  16.899276971817017

## Post evaluation after looking at results from Google-Maps code

In [19]:
price_df[price_df.index==4]

,id,formattedAddress,addressLine1,addressLine2,city,state,zipCode,county,latitude,longitude,...,status,price,listingType,listedDate,removedDate,createdDate,lastSeenDate,daysOnMarket,history,yearBuilt
4,"3242-Peachtree-Rd-NE,-Unit-1709,-Atlanta,-GA-3...","3242 Peachtree Rd NE, Unit 1709, Atlanta, GA 3...",3242 Peachtree Rd NE,Unit 1709,Atlanta,GA,30305,Fulton,33.843845,-84.372772,...,Active,2374,Standard,2025-01-03T00:00:00.000Z,None,2023-12-15T00:00:00.000Z,2025-01-03T04:43:36.204Z,1,"{'2024-11-07': {'event': 'Rental Listing', 'pr...",NaN

In [20]:
price_df[price_df.index==2]

,id,formattedAddress,addressLine1,addressLine2,city,state,zipCode,county,latitude,longitude,...,status,price,listingType,listedDate,removedDate,createdDate,lastSeenDate,daysOnMarket,history,yearBuilt
2,"3005-Peachtree-Rd-NE,-Unit-1301,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 1301, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 1301,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2037,Standard,2025-01-03T00:00:00.000Z,None,2024-07-30T00:00:00.000Z,2025-01-03T04:43:36.208Z,1,"{'2024-10-10': {'event': 'Rental Listing', 'pr...",NaN

In [ ]:
#Extracting the top 10 results from Knn

In [33]:
knn_best = [x['House_ID'] for x in knn_top]

In [39]:
knn_df=price_df.loc[knn_best]

In [40]:
knn_df.columns

Index(['id', 'formattedAddress', 'addressLine1', 'addressLine2', 'city',
       'state', 'zipCode', 'county', 'latitude', 'longitude', 'propertyType',
       'bedrooms', 'bathrooms', 'squareFootage', 'status', 'price',
       'listingType', 'listedDate', 'removedDate', 'createdDate',
       'lastSeenDate', 'daysOnMarket', 'history', 'yearBuilt'],
      dtype='object')

In [41]:
knn_df

,id,formattedAddress,addressLine1,addressLine2,city,state,zipCode,county,latitude,longitude,...,status,price,listingType,listedDate,removedDate,createdDate,lastSeenDate,daysOnMarket,history,yearBuilt
2,"3005-Peachtree-Rd-NE,-Unit-1301,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 1301, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 1301,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2037,Standard,2025-01-03T00:00:00.000Z,None,2024-07-30T00:00:00.000Z,2025-01-03T04:43:36.208Z,1,"{'2024-10-10': {'event': 'Rental Listing', 'pr...",NaN
1,"3005-Peachtree-Rd-NE,-Unit-1813,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 1813, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 1813,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2143,Standard,2025-01-03T00:00:00.000Z,None,2023-07-28T00:00:00.000Z,2025-01-03T04:43:36.209Z,1,"{'2024-10-05': {'event': 'Rental Listing', 'pr...",NaN
11,"3005-Peachtree-Rd-NE,-Unit-2022,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 2022, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 2022,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2936,Standard,2025-01-03T00:00:00.000Z,None,2024-06-19T00:00:00.000Z,2025-01-03T04:43:36.200Z,1,"{'2024-10-21': {'event': 'Rental Listing', 'pr...",NaN
3,"3005-Peachtree-Rd-NE,-Unit-2122,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 2122, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 2122,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,2961,Standard,2025-01-03T00:00:00.000Z,None,2023-07-29T00:00:00.000Z,2025-01-03T04:43:36.204Z,1,"{'2024-12-01': {'event': 'Rental Listing', 'pr...",NaN
15,"3005-Peachtree-Rd-NE,-Unit-1507,-Atlanta,-GA-3...","3005 Peachtree Rd NE, Unit 1507, Atlanta, GA 3...",3005 Peachtree Rd NE,Unit 1507,Atlanta,GA,30305,Fulton,33.836842,-84.381149,...,Active,3238,Standard,2025-01-03T00:00:00.000Z,None,2024-06-17T00:00:00.000Z,2025-01-03T04:43:36.197Z,1,"{'2024-09-28': {'event': 'Rental Listing', 'pr...",NaN
4,"3242-Peachtree-Rd-NE,-Unit-1709,-Atlanta,-GA-3...","3242 Peachtree Rd NE, Unit 1709, Atlanta, GA 3...",3242 Peachtree Rd NE,Unit 1709,Atlanta,GA,30305,Fulton,33.843845,-84.372772,...,Active,2374,Standard,2025-01-03T00:00:00.000Z,None,2023-12-15T00:00:00.000Z,2025-01-03T04:43:36.204Z,1,"{'2024-11-07': {'event': 'Rental Listing', 'pr...",NaN
12,"6125-Roswell-Rd,-Unit-307,-Atlanta,-GA-30328","6125 Roswell Rd, Unit 307, Atlanta, GA 30328",6125 Roswell Rd,Unit 307,Atlanta,GA,30328,Fulton,33.922661,-84.377747,...,Active,2935,Standard,2025-01-03T00:00:00.000Z,None,2024-09-13T00:00:00.000Z,2025-01-03T04:43:36.199Z,1,"{'2024-09-23': {'event': 'Rental Listing', 'pr...",NaN
13,"3200-Lenox-Rd-NE,-Apt-F113,-Atlanta,-GA-30324","3200 Lenox Rd NE, Apt F113, Atlanta, GA 30324",3200 Lenox Rd NE,Apt F113,Atlanta,GA,30324,Fulton,33.842808,-84.359253,...,Active,1490,Standard,2025-01-03T00:00:00.000Z,None,2024-01-06T00:00:00.000Z,2025-01-03T04:43:36.198Z,1,"{'2024-09-24': {'event': 'Rental Listing', 'pr...",NaN
14,"2430-Cheshire-Bridge-Rd-NE,-Apt-224,-Atlanta,-...","2430 Cheshire Bridge Rd NE, Apt 224, Atlanta, ...",2430 Cheshire Bridge Rd NE,Apt 224,Atlanta,GA,30324,Fulton,33.821079,-84.352219,...,Active,1999,Standard,2025-01-03T00:00:00.000Z,None,2024-12-28T00:00:00.000Z,2025-01-03T04:43:36.198Z,1,"{'2025-01-03': {'event': 'Rental Listing', 'pr...",NaN
18,"6400-Blue-Stone-Rd,-Unit-3017,-Atlanta,-GA-30328","6400 Blue Stone Rd, Unit 3017, Atlanta, GA 30328",6400 Blue Stone Rd,Unit 3017,Atlanta,GA,30328,Fulton,33.925114,-84.382454,...,Active,1744,Standard,2025-01-03T00:00:00.000Z,None,2024-10-13T00:00:00.000Z,2025-01-03T04:43:36.196Z,1,"{'2024-10-14': {'event': 'Rental Listing', 'pr...",NaN